            <div class="col-4">
              <p><b>Молочные продукты</b></p>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="item16">
                <label class="form-check-label" for="item16">
                  Сыр
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="item17">
                <label class="form-check-label" for="item17">
                  Сгущеное молоко
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="item18">
                <label class="form-check-label" for="item18">
                  Масло сливочное
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="item19">
                <label class="form-check-label" for="item19">
                  Молоко
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="item20">
                <label class="form-check-label" for="item20">
                  Творог
                </label>
              </div>
            </div>