            <div class="col-4">
              <p><b>Макаронные изделия</b></p>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="item21" >
                <label class="form-check-label" for="item21">
                  Вермишель
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="item22">
                <label class="form-check-label" for="item22">
                  Рожки
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="item23">
                <label class="form-check-label" for="item23">
                  Пенне
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="item24">
                <label class="form-check-label" for="item24">
                  Фунчоза
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="" id="item25">
                <label class="form-check-label" for="item25">
                  Яичная лапша
                </label>
              </div>
            </div>